
.btn_seccionboton{
    background-color: rgb(5, 5, 5);
    padding: 8px;
    border: 1px solid white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    border: none;

    
}

.btn_seccionboton:hover{
    color: white;
    cursor: pointer;
    background-color: #3b0128;
    
} 

/* @Media Queries*/
/* Contenido md */

@media(max-width:768px){
    .btn_seccionboton{
        font-size: 15PX;
    }
}

/* @Media Queries*/
/* Contenido sm */

@media(max-width:576px) {
    .btn_seccionboton{
        font-size: 13PX;
    }
}